In [1]:
for i in range(0, 20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
# The * operator unpacks the range so that it prints the numbers in a sequence separated by spaces.

In [2]:
print(*range(10, 20))

10 11 12 13 14 15 16 17 18 19

In [11]:
# len() is a built-in Python function that returns the number of elements

In [10]:
lists = [10, 20, 14, 55, 43, 87, 76]
print('Number of items in the List2: ', len(lists))

Number of items in the List2:  7

In [12]:
text = 'Artificial Intelligence'
for char in text:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [13]:
# if want uppercase 
text = 'Artificial Intelligence'
for char in text:
    print(char.upper())

A
R
T
I
F
I
C
I
A
L

I
N
T
E
L
L
I
G
E
N
C
E

In [18]:
print('-Your Name-', 'Prasath')
print('-Your Age-', '33')
print('-Your Profession-', 'Software Engineer')

-Your Name- Prasath
-Your Age- 33
-Your Profession- Software Engineer

In [19]:
print('-Prasath-')
print('-33-')
print('-Software Engineer-')

-Prasath-
-33-
-Software Engineer-

In [20]:
# Tuples
tuples = (1, 'Welcome', 2, 'Hope')
print(tuples)

(1, 'Welcome', 2, 'Hope')

In [22]:
# merge two Tuples
tuple1 = (0, 1, 2, 3)
tuple2 = ('Python', 'HOPE')
tupleOutput = (tuple1, tuple2)
print(tupleOutput)

((0, 1, 2, 3), ('Python', 'HOPE'))

In [25]:
# print ODD numbers in the list
tup = (20,10,16,19,25,1,276,188)
for num in tup:
    if((num%2) == 1):
        print(num, 'is Odd Number')

19 is Odd Number
25 is Odd Number
1 is Odd Number

In [27]:
# print ODD numbers in the list
tup = (20,10,16,19,25,1,276,188)
for num in tup:
    if((num%2) == 0):
        print(num, 'is Even Number')

20 is Even Number
10 is Even Number
16 is Even Number
276 is Even Number
188 is Even Number

In [30]:
# print ODD or Even numbers in the list
tup = (20,10,16,19,25,1,276,188)
for num in tup:
    if((num%2) == 1):
        print(num, 'is Odd Number')
    else:
        print(num, 'is Even Number')

20 is Even Number
10 is Even Number
16 is Even Number
19 is Odd Number
25 is Odd Number
1 is Odd Number
276 is Even Number
188 is Even Number